<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/lala.ico">
  </head>
  <body>
    <div class="status-container">
      <a href="https://discord.com/api/oauth2/authorize?client_id=1137179680949141595&permissions=8&scope=bot%20applications.commands">
        <img src="/images/lala.jpeg" alt="lala">
      </a>
      
      <h1>Lala is online.</h1>
    </div>
  </body>
</html>
